.blush-pink {
    background-color: #eed2d7;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.teacher-only {
    display: none; /* Hidden by default */
}

#chatMessages {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
}

#announcements #announcementForm {
    display: none; /* Hide by default */
}

body.teacher-view #announcements #announcementForm {
    display: block; /* Show if body has "teacher-view" class */
}

#postAnnouncement:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}